/* 标签名不加前缀；class前加. ；id前加# ；*是通配符 */

/* html,body{
    height: 100%;
    width: 100%;
} */

body {
    /* background-color: steelblue */
}

#main {
    width:100%;
    height:100%;
    overflow: hidden;
}

#web_bg {
    /* margin: -100px; */
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    /* min-width: 1000px; */
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    /* opacity:0.5; */
    filter: blur(5px);
    overflow: hidden;
    background-image: url(./img/index_bg.jpg);
    background-attachment: fixed;
}

#bg {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:-11;
    width: 100%;
    height: 100%;
    background-image: url(./img/index_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title_p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
    color: #fff;
}

#grid {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.box {
  border: 6px solid #fff;
  color: #fff;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}