/* 标签名不加前缀；class前加. ；id前加# ；*是通配符 */

/* html,body{
    height: 100%;
    width: 100%;
} */

body {
    /* background-color: steelblue */
}

#main {
    width:100%;
    height:100%;
    overflow: hidden;
}

#web_bg {
    /* margin: -100px; */
    position: fixed; /*保持不动*/
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    /* min-width: 1000px; */
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    /* opacity:0.5; */
    filter: blur(5px);
    overflow: hidden;
    background-image: url(/static/img/menu_bg.jpg);
    background-attachment: fixed;
}

/* 使背景图高斯模糊的白边不被看到 */
#bg {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:-11;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/menu_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title_p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
    color: #fff;
}

.menu_btn {
    color: #fff;
    font-size: 20px;
    background: transparent;
    border-radius: 3px;
    border:1px white solid;
    outline:none;
}

#grid {
    margin: 30px;
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, 150px);
    /* grid-template-columns: repeat(5, 1fr); */

}

.box {
    /* border: 6px solid #fff; */
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    justify-content: center;/* 水平居中 */
    align-items: center;
}

.box_img {
    width: 150px;
    height: 222px;
    /* border: 6px solid #fff; */
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_title {
    margin: 10px;
    font-size: 14px;
    color: #fff;
    
}